# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3
pgdata/

# Machine Learning & Data
*.h5
*.pkl
*.model
datasets/raw/*
!datasets/raw/.gitkeep
datasets/processed/*
!datasets/processed/.gitkeep
datasets/synthetic/*
!datasets/synthetic/.gitkeep

# Logs
logs/
*.log

# macOS
.DS_Store
